/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: black;
}

/*label, button {
  display: inline-block;
  margin: 0 auto;
}*/
#begin-button, #submit-answer-button, #next-question-button, #restart-button {
  width: 60%;
  height: 
}

img {
  width: 60%;
  border: 2pt solid lightgray;
}

h1, h2 {
  color: lightgray;
}

.choices  {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;

}

.radio-answers {
  display: inline;
  flex-direction: column;
  align-items: center;
  color: lightgray;
}

.score-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: lightgray;
}