/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

* {
  box-sizing: border-box;
}

body {
  text-align: center;
  margin: 0 auto;
}

label, button {
  display: block;
  margin: 0 auto;
}

img {
  width: 60%;
}

h2 {
  color: red;
}

.choices {
  
}